 body{
     margin:0;
     font-family :"poppins",sans-serif;
 }
 *{
     box-sizing: border-box;
 }
 /* utilities */
 h1,h4{
     margin:0
 }
 .btn_dark{
     display:inline-block;
     background-color: rgb(223, 139, 13);
     color:#fff;
     text-decoration: none;
     padding: 15px 20px;
     border-radius: 100px;
     font-size: 14px;
     letter-spacing: 2px;
     transition: all 0.4s;
 }
.btn_dark:hover{
    background-color: #fff;
    color:rgb(255, 130, 13) ;
}
 .margin_top{
     margin-top:15px;
 }
 .image_responsive{
     width:100%;
     max-width: 100%;
     height: auto;

 }
 .navbar ul{
     display: flex;
     justify-content:center;
     padding:0;
     margin:0;
     list-style-type: none;
     background-color:black;
 }
 .navbar ul li{
     display: inline-blolck;
 }
 .navbar ul li{
     display: inline-block;
 }
 .navbar li a{
     display:block;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     padding: 15px 15px;
     font-size:13px;
     color:rgb(216, 158, 49);
     letter-spacing: 2px;
 }
 .hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 85vh;
    background-image:linear-gradient(rgb(216, 158, 49),rgb(216, 158, 49)),url("../img/bg9.jpg");
    background-size:cover;
    background-blend-mode: multiply;
 }
 .hero_text{
     color:#fff;
     text-align: center;
 }
 .hero_text h1{
     font-size:100px;
     font-weight:200;
 }
 .hero_text p{
     letter-spacing: 5px;
     text-transform: uppercase;
 }
 .about_section{
     padding: 70px 0px;
     background-color:rgb(216, 158, 49);
     color:#fff;
 }
 .about_section h4{
     font-size: 28px;
     font-weight: 500px;
 }
 .about_section p{
     line-height: 36px;
     font-size: 20px;
     font-weight: 300px;
 }